---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<h1>アバウト 研究室</h1>
	</main>
</Layout>

<style>
	main {
		margin: 0 5rem;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
